.footer__mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.45);

    width: 300px;
    height: 23px;
    padding: 4.2px 3px 3px 3px;
    border-radius: 25px;
    margin-bottom: 10px;

    animation: fadeIn 3700ms;

}

.footer__designedBy {
    position: absolute;
    bottom: 41px;
    color: rgba(255, 255, 255, 0.691);
    font-size: 1rem;
}

.footer__designer {
    margin-left: 1px;
    font-size: 1.2rem;
    font-family: 'The Nautigal', cursive;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    align-items: center;
    justify-content: space-evenly;

    height: 99%;
    width: 99%;
    border-radius: 25px;
    overflow: hidden;
    }

.footer__navLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    transition: all 500ms ease-in-out;
}



.footer__navLinkContainer:hover {
    background-color: rgb(41, 41, 41);
    color: white;
}
.footer__navLink {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}



@media screen and (max-width: 784px){
    .footer__mainContainer {
        width: 190px;
        height: 14px;
        padding: 3px 2px 2px 2px;
        margin-bottom: 7px;
    }
    .footer__designedBy {
        position: absolute;
        bottom: 21px;
        color: rgba(255, 255, 255, 0.691);
        font-size: .7rem;
    }
    
    .footer__designer {
        margin-left: 1px;
        font-size: .9rem;
        font-family: 'The Nautigal', cursive;
    }
    .footer__navLink {
        font-size: .7rem;
        color: inherit;
        text-decoration: none;
    }
}