.mainBody__container {
    font-family: "Spartan", sans-serif;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.457);
    padding: 25px;
    margin-bottom: 50%;
    margin-top: 50%;
}

.mainBody__container h1 {
    text-decoration: underline;
}

@media screen and (max-width: 784px){
  .mainBody__container {
    position: absolute;
    top: 41%;
    margin-bottom: initial;
    margin-top: initial;
  }
}